.drawer-toggler * {
  pointer-events: none;
}

.drawer {
  .nav-main {
    left: 0;
    position: absolute;
    top: 0;

    input {
      display: none;
    }

    a {
      padding: 5px 0;
      display: list-item;
    }

    input:checked + .drawer-pages {
      transform: translateX(0%);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    .drawer-pages {
      background: $white;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0);
      height: 100vh;
      margin: 0;
      padding: 15px 15px 15px 30px;
      position: fixed;
      top: 0;
      transform: translateX(-100%);
      transition: all 0.35s ease;
      overflow-y: scroll;
      width: 15em;
      will-change: transform;
      z-index: 1;
    }
  }
}