.has-primary-color {
  color: $primary;
}

.has-primary-background-color {
  background-color: $primary;
}

.has-secondary-color {
  color: $secondary;
}

.has-secondary-background-color {
  background-color: $secondary;
}

.has-success-color {
  color: $success;
}

.has-success-background-color {
  background-color: $success;
}

.has-info-color {
  color: $info;
}

.has-info-background-color {
  background-color: $info;
}

.has-warning-color {
  color: $warning;
}

.has-warning-background-color {
  background-color: $warning;
}

.has-danger-color {
  color: $danger;
}

.has-danger-background-color {
  background-color: $danger;
}

.has-light-color {
  color: $light;
}

.has-light-background-color {
  background-color: $light;
}

.has-dark-color {
  color: $dark;
}

.has-dark-background-color {
  background-color: $dark;
}

.has-white-color {
  color: $white;
}

.has-white-background-color {
  background-color: $white;
}