.search-label {
  width: 100%;
}

.search-input {
  border-radius: 99px;
  display: block;
  width: 100%;
  padding: 18px 20px 18px 45px;
  border: 0;
  outline: none;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.15);
}

.search-submit {
  display: none;
}